// Base
@import 'library/normalize';
@import 'library/type.scss';

// Utilities
@import 'utilities/functions';
@import 'utilities/variables';

/*
Partials :
En esta carpeta se agrega toda aquella propiedadad que se repita
en alguna etiqueta por ejemplo a {text-decoration : none; }
*/

/*
Layout :
en  esta carpeta se agrega toda aquella parte que compone cada pages por ejemplo:
header, navegation, footer, carrito...
*/

/*
Components : en esta carpeta se agregan los componentes, por ejemplo :
las cards, slider....
*/

// Pages
@import 'pages/home';
@import 'pages/products';
@import 'pages/details';
