.header {
  align-items: baseline;
  background-color: $fourth-color;
  display: flex;
  justify-content: space-between;
  // left: 0;
  padding: $medium-size-movil 0.5rem;
  position: fixed;
  // right: 0;
  top: 0;
  width: 100%;
  z-index: 1011;
}

.header__logo {
  order: 2;
  width: calculateWidthMobile(200px);

  svg {
    max-width: 100%;
    width: 100%;
  }

  @media (min-width: 1080px) {
    cursor: pointer;
    width: calculateWidthMobile(40px);
  }
}

.header__nav--hamburger {
  height: 8%;
  padding-right: $maxim-size-movil;
  // width: calculateWidthMobile(80px);

  .hamburger--line {
    background-color: #D3A863;
    border-radius: 2px;
    margin-bottom: 5px;
    height: 4px;
    width: $maxim-size-movil + 1;
  }

  @media (min-width: 900px) {
    display: none;
  }
}


.header__icons {
  order: 3;
  display: flex;
  width: 25%;

  // .header__icons--btns {
  //   height: 50px;
  // }

  svg {
    max-width: 100%;
    width: 100%;
  }

  @media (min-width: 1080px) {
    width: 10%;
  }
}

//MENU COLLAPSIBLE
.header__collapsible {
  background-color: $secondary-background;
  border-bottom-right-radius: $size;
  border-top-right-radius: $size;
  box-shadow: 0 0 10px #85888C;
  flex-direction: column;
  font-size: $main-size-movil;
  height: 300px;
  position: fixed;
  left: -100%;
  top: 0;
  transition: left 0.8s;
}

.header__collapsible--container {
  width: 200px;

  button {
    font-size: 28px;
    font-weight: bold;
    left: 1rem;
    position: absolute;
    top: 3rem;
  }
}

.header__collapsible--items {
  margin-top: 7rem;
  padding: 1rem;

  li {
    border-bottom: 1px solid $main-background;
    padding: 1rem;
  }
}

.white {
  padding: 1rem;
  z-index: 1010;

  @media (min-width: 1080px) {
    background-color: $secondary-background;
    width: 100%;
    position: fixed;
    top: 0;
  }
}

// menu desktop
.header__list {
  display: none;
  margin-bottom: 4rem;
  position: relative;
  z-index: 1010;

  @media (min-width: 1024px) {
    display: block;
    margin: 0 auto;
    width: 1080px;

    .header__list--items {
      display: flex;
      justify-content: space-around;
      padding-top: 6rem;

      li {
        padding-top: 1rem;
      }

      a:hover, a:active {
        border-bottom: 2px solid #C54210;
      }
    }

  }
}

// SEARCH
.search {
  display: flex;
  justify-content: flex-end;
  margin-top: 105px;

  @media (min-width: 1080px) {
    margin-top: 170px;
  }
}

.search__form {
  margin-bottom: $margin-large;

  @media (min-width: 1080px) {
    margin-bottom: 20px;
  }
}

.search__form--input {
  background-color: $secondary-background;
  background-image: url(../../img/search.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  border: none;
  border-radius: $size;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.2rem 2rem;
  width: 250px;
  // width: 100%;
  // padding-right: 45%;

  @media (min-width: 1080px) {
    background-position: 98%;
    margin-bottom: $margin-large;
    // padding-right: 200px;
  }
}

.indicator__link--border {
  border-bottom: 2px solid #C54210;
}

// Indicator
.js-border {
  border-bottom: 2px solid #C54210;
}
