// Wrapper
$wrapper: 300px;

//new variable
$desktop-wrapper: 1080px;

// Typography
$main-font: 'poppins';
$secondary-font: 'ABeeZee';
$complement-font: 'Arial, Helvetica, sans-serif';

$titles: $secondary-font,$complement-font;
$paragraf: $main-font,$complement-font;
$links:$main-font,$complement-font;
$bottons:$main-font,$complement-font;

//=======================================//

// Font-Size

$size: 1rem;
$small-size-movil: $size * 1.2;
$main-size-movil: $size * 1.6;
$medium-size-movil: $size * 1.8;
$large-size-movil: $size * 2;
$maxim-size-movil: $size * 2.5;

//=======================================//

// Line-height
$line-height-small-movil: $size * 2.5;
$line-height-medium-movil: $size * 3.5;
$line-height-large-movil: $size * 4;

//=======================================//

// Color
$main-color: #352B2B;
$secondary-color: #C54210;
$third-color: #1EA422;
$fourth-color:#FFFFFF;
$alert-color: #960500;
$links-hover-color: #a73001;

// Nueva variable para el uso del hover y active en los botones que tienen imagenes
$hover-buttons-img: #fff0eb;

//=======================================//

// Background
$main-background: #F7F3F0;
$secondary-background: #FFFFFF;
$third-background: #F8DFB8;
// $fourth-background: #1EA422;

//=======================================//

// Padding (top y bottom)
$padding-small: $size;

//=======================================//

// Margin bottom
$margin-medium: $size * 3;
$margin-large: $size * 4;


$paddin-top-bottom: $size * 0.7;
$paddin-right-left: $size * 1.5;


$links-color: $secondary-color;
$links-hover: $links-hover-color;
$botton-logIn: $fourth-color;


//=================Font-Size Desktop======================
$small-size-desk: $size * 1.45;
$main-p-size-desk: $size * 1.6;
$medium-h3-size-desk: $size * 2.4;
$large-h2-size-desk: $size * 2.8;
$maxim-h1-size-desk: $size * 3.6;
