// Wrapper
$wrapper: 340px;

// Typography
$main-font: 'poppins';
$secondary-font: 'ABeeZee';
$complement-font: 'Arial, Helvetica, sans-serif';

$titles: $main-font,
$complement-font;
$paragraf: $main-font,
$complement-font;
$links:$main-font,
$complement-font;
$bottons:$main-font,
$complement-font;

//=======================================//

$size: 1rem;

// Font-Size
$small-size-movil: $size * 1.2;
$main-size-movil: $size * 1.6;
$medium-size-movil: $size * 1.8;
$large-size-movil: $size * 2;
$maxim-size-movil: $size * 2.5;

//=======================================//

// Line-height
$line-height-small-movil: $size * 2.5;
$line-height-medium-movil: $size * 3.5;
$line-height-large-movil: $size * 4;

//=======================================//

// Color
$main-color: #352B2B;
$secondary-color: #C54210;
$third-color: #1EA422;
$fourth-color:#FFFFFF;

//=======================================//

// Background
$main-background: #F7F3F0;
$secondary-background: #FFFFFF;
$third-background: #F8DFB8;
// $fourth-background: #1EA422;

//=======================================//

// Padding (top y bottom)
$padding-small: $size;

//=======================================//

// Margin bottom
$margin-large: $size * 4;
