/* $alert-color: #960500;

.red-js {
  border: $alert-color solid 1px;
}

.alert__text {
  font-family: $paragraf;
  font-size: $small-size-movil;
  color: $alert-color;
  font-weight: 600;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
html {
  line-height: 2; }

/* icono / usuario */
.login__icon {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer; }

.modal {
  background-color: #FFFFFF;
  display: none;
  font-family: "ABeeZee";
  left: 50%;
  overflow: auto;
  position: fixed;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1; }
  @media (min-width: 500px) {
    .modal {
      width: 80%; } }
  .modal form input:focus {
    border: #C54210 solid 3px; }
  @media (min-width: 500px) {
    .modal form {
      margin-left: 30px; } }

.modal__close {
  color: #352B2B;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  .modal__close:hover {
    color: #C54210;
    cursor: pointer;
    text-decoration: none; }

@media (min-width: 500px) {
  .modal__content--padding {
    padding: 30px; } }

.modal__input {
  border: #352B2B solid 3px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px 10px; }

.red-js {
  border: #960500 solid 1px; }
