.drawer {
  background-color: $secondary-background;
  border-bottom-left-radius: $size;
  border-top-left-radius: $size;
  box-shadow: 0 0 10px #85888C;
  flex-direction: column;
  font-size: $main-size-movil;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  transition: right 0.8s;
  z-index: 1012;
}

.drawer__wrapper {
  margin: 0 auto;
  width: 340px;

  @media (min-width: 700px) {
    width: 500px;
  }
}

.drawer__header {
  border-bottom: 0.2rem solid $main-background;
  padding: $size 2rem;

  h2 {
    font-weight: bold;
  }

  button {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 3rem;
    top: 3rem;
  }

  @media (min-width: 700px) {
    h2 {
      font-size: $large-size-movil;
    }

    button:hover {
      color: $secondary-color;
    }
  }
}

.drawer__container--products {
  color: $main-color;
  font-family: $paragraf;
  font-size: $medium-size-movil;
  margin-bottom: 3rem;
}

.drawer__container--items {
  border-bottom: 0.2rem solid $main-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  button {
    font-size: $medium-h3-size-desk;
  }
}

.drawer__items--image {
  margin-right: 3rem;
  width: 25%;
  img{
    border-radius: $size;
    width: 100%;
  }

  @media (min-width: 960px) {
    margin-right: 5rem;
    width: 20%;
    img{
      width: 100%;
    }
  }
}

.drawer__items--content {
  margin-right: 3rem;

  @media (min-width: 960px) {
    margin-right: 5rem;

  }
}

.drawer__btn--close {
  padding: $size 3rem $size 2rem;
  // justify-content: flex-end;
}

.js__drawer--items {
  padding: $size 2rem;

  h3 {
    margin-bottom: $size;
  }

  @media (min-width: 700px) {
    h3 {
      font-size: $medium-size-movil;
    }

    p {
      font-size: $main-size-movil;
    }
  }
}

