.modal__back {
  background-color: $main-background;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}

.modal {
  background-color: $fourth-color;
  border-radius: 1rem;
  display: none;
  position: fixed;
  left: 50%;
  overflow: auto;
  padding: 3rem;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1002;
}

.modal__content {
  @media (min-width: 500px) {
    padding: 30px;
  }
}

.modal__close--btn {
  color: $main-color;
  float: right;
  font-size: 28px;
  font-weight: bold;

  @media (min-width: 500px) {
    &:hover {
      color: $secondary-color;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.modal__form--input {
  border: $main-color solid 3px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px 10px;
  outline: none;

  input:focus {
    border: $secondary-color solid 3px;
  }

  @media (min-width: 500px) {
    width: 80%;
  }
}

.js-input-alert {
  border: $alert-color solid 3px;
}
