@import '../utilities/variables';
@media (min-width:20px){
  body{
    background-color: $main-background;
    font-family: $titles;
    margin: 0 auto;
    width: 340px;
  }
  .card-description__desktop-title {
    display: none;
  }
  .card-description__mobile-title {
    color: $secondary-color;
    display: block;
    font-size: $main-size-movil;
    text-transform: capitalize;
  }
  #js-hiddenImages img{
    border: 2px solid $secondary-color;
    border-radius: 5px;
    filter: grayscale(100%);
    float: left;
    height: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: 0.2s;
    width: 20.6%;
  }
  #js-hiddenImages img:hover{
    filter: grayscale(0%);
    transform: scale(1.100);
  }

  #js-openImage img{
    border: 2px solid $secondary-color;
    border-radius: 8px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: auto;
    width: 340px;
  }

  .card-description__product-price{
    color: $secondary-color;
    font-size: $main-size-movil;
  }
  .card-description__product-description{
    margin-left: 3%;
  }

  button {
    background-color: $third-color;
    border: none;
    border-radius: $size;
    color: $botton-logIn;
    font-size: $small-size-movil;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: 20px;
    outline: 0;
    padding: $paddin-top-bottom $paddin-right-left;
    text-transform: capitalize;

    &:active {
      background-color: $links-hover;
    }
  }
  .card-description__cart-button{
    display: block;
    margin-bottom: 20px;
    margin-left: -10px;
  }
  .card-description__comments--background{
    background-color: $fourth-color;
    border-radius: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
    p{
      font-size: $small-size-movil;
      margin-left: 5%;
      margin-right: 5%;
      text-align: justify;
    }
    img{
      margin-left: 5%;
    }
  }
  /* Clase para resaltar la imagen activa manejada con JavaScript */
  .active {
    filter: grayscale(0%);
  }

}
@media (min-width:380px){
  body{
    width: 100%;
  }
  .card-description{
    margin: 0 auto;
    width: 90%;

  }
  .card-description__product-description{
    margin-left: 0%;
  }
  .card-description__mobile-title {
    display: none;
  }
  .card-description__desktop-title {
    color: $secondary-color;
    display: block;
    font-size: $large-h2-size-desk;
    text-transform: capitalize;
  }
  #js-hiddenImages{
    width: 45%;
  }
  #js-hiddenImages img{
    height: auto;
    width: 22%;
  }
  #js-openImage{
    margin-right: 1px;
    width: 45%;
  }
  #js-openImage img{
    margin: 0 0;
    margin-bottom: 10px;
    padding: 0 0;
    width: 100%;
  }
  button {
    font-size: $main-p-size-desk;
    margin-bottom: 40px;
    margin-left: 7.5%;
    margin-top: 20px;
    padding: 15px 30px;
  }
  .card-description__cart-button{
    display: none;
  }
  .card-description__image-gallery{
    margin: 0 0;
    float: left;
  }
  .card-description__product-price{
    font-size: $large-h2-size-desk;
  }
  .card-description__product-reference{
    font-size: $main-p-size-desk;
  }
}
