.product {
  margin: 0 5% 0 5%;

  @media (min-width: 300px) {
    margin-top: 50px;
  }
}

.product__card {
  align-items: flex-start;
  background-color: $main-background;
  border-color: $fourth-color;
  border-radius: $large-size-movil;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  margin-bottom: $margin-large;
  padding: 0px;
  position: relative;
  width: $wrapper;
  z-index: -1;

  @media (min-width: 500px) {
    flex-direction: column;
    width: 200px;
  }
}


.product__card-data {
  h3 {
    font-size: $maxim-size-movil;
    margin: 0 0 15px 0;
  }

  p {
    line-height: $line-height-small-movil;
  }

  padding-left: $paddin-right-left;
}

.product__card-img {
  img {
    border-radius: $large-size-movil 0px 0px $large-size-movil;
    width: 110px;
    height: auto;

    @media (min-width: 500px) {
      width: 200px;
      height: 250px;
      border-radius: $large-size-movil $large-size-movil 0px 0px;
    }
  }
}

.product__card-price {
  button {
    position: absolute;
    top: $paddin-right-left;
    right: $large-size-movil;
  }

  p {
    font-weight: bold;
    font-size: $large-size-movil;
    color: $secondary-color;
    margin-top: $line-height-small-movil;

    @media (min-width: 500px) {
      font-size: $maxim-size-movil;
      margin: 0 0 15px 0;
    }
  }
}

.product__filter {
  margin-bottom: $margin-large;
}

.product__list {

  @media (min-width: 500px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

  }
}

.product__pagination {
  text-align: center;
  margin-bottom: 100px;
}
