.shopping {
  margin: 0 5% 100px 5%;

  h3 {
    margin-bottom: 0;
  }

}

.shopping__product {
  // margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.shopping__product-list__data {
  align-items: flex-start;
  background-color: $secondary-background;
  border-radius: $large-size-movil;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  // width: $wrapper;

  @media (min-width: 500px) {
    align-items: flex-start;
    width: 400px;
  }
}

.shopping__product-list__content {
  margin: $size + 2 $size $size $size;

  p {
    color: $secondary-color;
    font-size: $small-size-movil;
    font-weight: bold;
  }

  button {
    font-size: 2.5rem;
    position: absolute;
    right: $large-size-movil;
    top: $paddin-right-left;
  }

  @media (min-width: 500px) {
    p {
      font-size: $main-p-size-desk;
    }
  }
}

.shopping__product-list__data-img {
  img {
    display: inline-block;
    max-height: 150px;
  }
}

.shopping__product-sum {
  background-color: $secondary-background;
  border-radius: $large-size-movil;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;

  @media (min-width: 700px) {
    height: 150px;
    width: 30%;
  }
}

.js-shopping__product-sum__total {
  padding-bottom: 10px;
}

.shoppig__title-h2 {
  @media (min-width: 500px) {
    margin-left: 5%;
  }
}

.shopping__user {
  p {
    margin-bottom: 40px;
    margin-top: 5px;
  }
}
