.slider {
  width: 300px;
  position: relative;
  margin: 0 auto;
  position: relative;
}

.slider__cards {
  display: none;
  h3 {
    // color: $third-color;
    // font-size: $maxim-size-movil;
    text-align: center;
    margin: 0 0 $size 0;
    // padding-left: 25%;
  }
  p {
    font-weight: bold;
    color: $secondary-color;
    font-size: $medium-size-movil;
    text-align: center;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.slider__text-card {
  display: none;
}

.slider__title-card {
  display: none;
}

.slider__images {
  margin-left: 25%;
  margin-bottom: $margin-medium - 2;
  width: 50%;
  border-radius: 20px;
}

.image-desktop {
  display: none;
}

.js-slider__div-container {
  margin-bottom: $margin-medium - 1;
}

/* back & advance buttons */
.slider__btn-back,
.slider__btn-advance {
  color: $main-color;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  border: 0;
  background-color: $fourth-color;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider__btn-advance {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider__btn-back:hover,
.slider__btn-advance:hover {
  background-color: $secondary-color;
  color: black;
}

/* slider indicators */
.slider__circles-indicators {
  margin-bottom: $margin-large;
  text-align: center;
}

.slider__circles-indicators-items {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.js-active,
.slider__circles-indicators-items:hover {
  background-color: $secondary-color;
}

/* animation */
.slider__images--animation {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media(min-width:500px) {
  .slider {
    width: 500px;
  }

  .slider__images {
    width: 50%;
  }

  .js-info-desktop {
    margin-left: 37%;
  }
}

@media(min-width:1080px) {
  .slider {
    width: 600px;
  }

  .js-slider__div-container {
    position: relative;
    margin-bottom: $margin-medium - 1;
  }

  .slider__cards {

    h3 {
      padding-right: 40%;
      margin: 0 0 $size 0;
    }

    p {
      padding-right: 40%;
      margin: 0;
    }
  }

  .slider__images {
    width: 30%;
    margin-left: 15%;
    margin-bottom: $size;
  }

  .slider__title-card {
    display: block;
    position: absolute;
    top: 260px;
    left: 60%;
  }

  .slider__text-card {
    display: block;
    position: absolute;
    left: 62%;
    top: 298px;
  }

  .image-desktop {
    display: block;
    position: absolute;
    right: 5%;
    top: -1px;
    margin-right: 15%;
  }

  .js-info-desktop {
    margin-left: 21%;
  }
}
