.acordeon {
  display: none;
}

@media (max-width: 500px){
  /* ACORDEON */
  .acordeon {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .acordeon__content--title {
    background-color: $secondary-color;
    border-radius: 0.2rem;
    color: $fourth-color;
    cursor: pointer;
    font-size: $main-size-movil;
    font-family: $titles;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    b{
      float: right;
      margin-right: 5%;
    }
  }

  .acordeon__content--hidden-information {
    background-color: $fourth-color;
    display: none;
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .acordeon {
    display: block;
  }

  /*Esta sección genera conflictos al estar global*/
  /*body{
    margin: 0 auto;
    width: $wrapper;
  }*/

  .tabs {
    display: none;
  }
}


@media (min-width:500px){
  /*TABS*/
    /*Esta sección genera conflictos al estar global*/
  /*body{
    margin: 0 auto;
  }*/

  .tabs {
    margin: 60px;
    max-width: 600px;
  }

  .tabs__tablist {
    color: $fourth-color;
    display: flex;
    font-family: $titles;
    list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
  }

  .tabs__tablist--title {
    background-color: $secondary-color;
    border: 1px solid $main-color;
    border-radius: 5px 5px 0 0;
    color: $fourth-color;
    display: block;
    // font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
  }

  .tabs__content {
    padding-top: 50px;
    width: 1000px;
  }

  /* Estado (clases asignadas por Javascript) */
  .js-active {
    background-color:$main-background;
    border-bottom: 1px solid $main-background;
    color: $main-color;
  }
  .js-content-hidden {
    display: none;
  }
}
