h1 {
  color: $main-color;
  font-family: $titles;
  font-size: $maxim-size-movil;
  text-transform: capitalize;

  @media (min-width: 970px) {
    font-size: $maxim-h1-size-desk;
  }
}

h2,
h3,
h4 {
  font-family: $paragraf;
  text-transform: capitalize;
}

h2 {
  font-size: $large-size-movil;
  color: $main-color;

  @media (min-width: 970px) {
    font-size: $large-h2-size-desk;
  }
}

h3 {
  color: $third-color;
  font-size: $medium-size-movil;

  @media (min-width: 970px) {
    font-size: $medium-h3-size-desk;
  }
}

h4 {
  color: $third-color;
  font-size: $small-size-movil;
}

p {
  font-family: $paragraf;
  font-size: $small-size-movil;
  line-height: $line-height-medium-movil;

  @media (min-width: 970px) {
    font-size: $main-p-size-desk;
  }
}

a {
  font-family: $paragraf;
  text-decoration: none;
  color: $secondary-color;
  font-size: $small-size-movil;

  @media (min-width: 970px) {
    font-size: $main-p-size-desk;

    &:hover {
      color: $links-hover-color;
    }
  }
}

ul {
  font-family: $paragraf;
  font-size: $small-size-movil;
  list-style: none;

  @media (min-width: 970px) {
    font-size: $main-p-size-desk;
  }
}
