@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


// Typography
$main-font: 'poppins';
$secondary-font: 'ABeeZee';
$complement-font: 'Arial, Helvetica, sans-serif';

$titles: $secondary-font, $complement-font;
$paragraf: $main-font, $complement-font;
$links:$main-font, $complement-font;
$bottons:$main-font, $complement-font;

// Background
$main-background: #F7F3F0;
$secondary-background: #FFFFFF;
$third-background: #F8DFB8;
// $fourth-background: #1EA422;

$frame-background: $main-background;
$cards-background: $secondary-background;
$sections-background: $third-background;


// Color
$main-color: #352B2B;
$secondary-color: #C54210;
$third-color: #1EA422;
$fourth-color:#FFFFFF;

$titles-color: $main-color;
$paragraf-color: $main-color;
$botton-logIn: $fourth-color;


// Font-Size
$size: 1rem;
$small-size-movil: $size * 1.2;
$main-size-movil: $size * 1.6;
$medium-size-movil: $size * 1.8;
$large-size-movil: $size * 2;
$maxim-size-movil: $size * 2.5;

// Line-height
$line-height-small-movil: $size * 2.5;
$line-height-medium-movil: $size * 3.5;
$line-height-large-movil: $size * 4;

html {
  font-size: 10px;
}

body {
  background-color: $frame-background;
}

ul {
  list-style: none;
  padding: 0px;
}

.flex {
  display: flex;
}

.drawer-main-container {
  background-color: $cards-background;
  border-bottom-left-radius: $size;
  border-top-left-radius: $size;
  box-shadow: 0 0 10px #85888C;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  right: -360px;
  top: 0;
  font-size: $main-size-movil;

  @media (min-width: 700px) {
    right: -550px;
  }
}

.drawer-wrapper {
  width: 340px;
  margin: 0 auto;

  @media (min-width: 700px) {
    width: 500px;
  }
}

.drawer-header {
  border-bottom: 0.2rem solid $frame-background;
  padding: $size 2rem;

  h2 {
    color: $titles-color;
    display: inline-block;
    font-family: $titles;
    font-size: $medium-size-movil;
    font-weight: bold;
  }

  button {
    background-color: $cards-background;
    border: none;
    cursor: pointer;
    font-family: $bottons;
    outline: none;
    position: absolute;
    right: 3rem;
    top: 3rem;
  }

  @media (min-width: 700px) {
    h2 {
      font-size: $large-size-movil;
    }
  }
}

.drawer-container-products {
  color: $paragraf-color;
  font-family: $paragraf;
  font-size: $small-size-movil;
  margin-bottom: 3rem;
}

.line-botton {
  border-bottom: 0.2rem solid $frame-background;
  width: 100%;
}

.drawer-content {
  padding: $size 2rem;
  h3 {
    font-size: $main-size-movil;
    margin-bottom: $size;
  }

  p {
    margin: 0;
  }

  @media (min-width: 700px) {
    h3 {
      font-size: $medium-size-movil;
    }

    p {
      font-size: $main-size-movil;
    }
  }
}

.drawer-delete {
  outline: none;
  flex-direction: row;
  justify-content: flex-end;
}

.btns-drawer {
  padding: $size 3rem $size 2rem;
  flex-direction: row;
  justify-content: flex-end;
}
