@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

$fourth-color:#FFFFFF;
$secondary-font: 'ABeeZee';
$paragraf: $secondary-font;

$size: 1rem;
$main-size-movil: $size * 1.6;
$main-background: #F7F3F0;

html {
  font-size: 10px;
  background-color: $main-background;
}

.filter__text {
  font-family: $paragraf;
  font-size: $main-size-movil;
}

.filter__select {
  border-color: $fourth-color;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
