/*Variables*/
$third-background: #F8DFB8;
$secondary-color: #C54210;
$main-color: #352B2B;
$fourth-color:#FFFFFF;
$wrapper: 340px;
$size: 1rem;
$margin-large: $size * 4;

/* Slider */
.slider {
  width: $wrapper;
  position: relative;
  margin: 0 auto;
  margin-bottom: $size;
}

.slider__cards {
  display: none;
}

.slider__images {
  margin-left: 25%;
  width: 50%;
  border-radius: 20px;
}


/* back & advance buttons */
.slider__btn-back,
.slider__btn-advance {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $main-color;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.slider__btn-advance {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider__btn-back:hover,
.slider__btn-advance:hover {
  background-color: $secondary-color;
  color: $fourth-color;
}

/* slider indicators */
.slider__circles-indicators {
  text-align: center;
}

.slider__circles-indicators-items {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.js-active,
.slider__circles-indicators-items:hover {
  background-color: $secondary-color;
}

/* animation */
.slider__images--animation {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media(min-width:500px) {
  .slider {
    width: 500px;
  }

  .slider__images {
    width: 50%;
  }
}

@media(min-width:1080px) {
  .slider {
    width: 600px;
  }

  .slider__images {
    width: 50%;
  }
}
