h1 {
  color: $main-color;
  font-family: $titles;
  font-size: $maxim-size-movil;
  text-transform: capitalize;

  @media (min-width: 970px) {
    font-size: $maxim-h1-size-desk;
  }
}

h2,
h3,
h4 {
  font-family: $titles;
  text-transform: capitalize;
}

h2 {
  color: $main-color;
  font-size: $large-size-movil;

  @media (min-width: 970px) {
    font-size: $large-h2-size-desk;
  }
}

h3 {
  color: $third-color;
  font-size: $medium-size-movil;

  @media (min-width: 970px) {
    font-size: $medium-h3-size-desk;
  }
}

h4 {
  color: $third-color;
  font-size: $small-size-movil;
}

p {
  font-family: $paragraf;
  line-height: $line-height-small-movil + 0.5;
  font-size: $small-size-movil;

  @media (min-width: 970px) {
    font-size: $small-size-desk;
  }
}

a {
  color: $secondary-color;
  font-family: $paragraf;
  font-size: $small-size-movil;
  text-decoration: none;

  // &:focus {
  //   border: $secondary-color solid 3px;
  // }

  @media (min-width: 970px) {
    font-size: $main-p-size-desk;

    &:hover, a:active {
      color: $links-hover-color;
    }
  }
}

ul {
  font-family: $paragraf;
  font-size: $small-size-movil;
  list-style: none;

  @media (min-width: 970px) {
    font-size: $main-p-size-desk;
  }
}
